@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'blade-runner';
  src: url('/fonts/BLADRMF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cyberpunk';
  src: url('/fonts/Cybrpnuk2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.background-tint {
  background-color: rgba(0, 0, 0, 0.5);
}
